---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<GITHUB_INSTALLATION_ID>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d7dc1337ef798efa2495de6370228a223924f039e0fafc8118b3849ee1295481"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"token":"<GITHUB_INSTALLATION_TOKEN>","expires_at":"2025-03-07T18:10:38Z","permissions":{"members":"write","team_discussions":"write","administration":"write","contents":"write","discussions":"write","issues":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Fri, 07 Mar 2025 17:10:37 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benefactorum/contributions/git/refs/heads/main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ccf618e81ae09a680a1cbd20a5314e18e6d7e02642710e273e1f10921b987f65"
      Last-Modified:
      - Fri, 07 Mar 2025 13:11:30 GMT
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - contents=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4927'
      X-Ratelimit-Reset:
      - '1741368157'
      X-Ratelimit-Used:
      - '73'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/main","node_id":"REF_kwDOOEHVCq9yZWZzL2hlYWRzL21haW4","url":"https://api.github.com/repos/Benefactorum/contributions/git/refs/heads/main","object":{"sha":"e04a6b56a9d85bb385df887ac23458d6470e7396","type":"commit","url":"https://api.github.com/repos/Benefactorum/contributions/git/commits/e04a6b56a9d85bb385df887ac23458d6470e7396"}}'
  recorded_at: Fri, 07 Mar 2025 17:10:37 GMT
- request:
    method: post
    uri: https://api.github.com/repos/Benefactorum/contributions/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/test_branch_5","sha":"e04a6b56a9d85bb385df887ac23458d6470e7396"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d851839721bb22273b50dbc92620b23d8e3ef9cfb97a4e456020d623c1683121"'
      Location:
      - https://api.github.com/repos/Benefactorum/contributions/git/refs/heads/test_branch_5
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - contents=write; contents=write,workflows=write
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1741368157'
      X-Ratelimit-Used:
      - '74'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/test_branch_5","node_id":"REF_kwDOOEHVCrhyZWZzL2hlYWRzL3Rlc3RfYnJhbmNoXzU","url":"https://api.github.com/repos/Benefactorum/contributions/git/refs/heads/test_branch_5","object":{"sha":"e04a6b56a9d85bb385df887ac23458d6470e7396","type":"commit","url":"https://api.github.com/repos/Benefactorum/contributions/git/commits/e04a6b56a9d85bb385df887ac23458d6470e7396"}}'
  recorded_at: Fri, 07 Mar 2025 17:10:38 GMT
- request:
    method: put
    uri: https://api.github.com/repos/Benefactorum/contributions/contents/test_file.json
    body:
      encoding: UTF-8
      string: '{"branch":"test_branch_5","content":"ewogICJ0ZXN0IjogImNvbnRlbnQiCn0=","message":"Test
        setup commit"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b80718a5cfc92a96f52e0b0c3de3c660a5b5a2b966aa8d997c975e9b05ef55ea"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - contents=write; contents=write,workflows=write
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4925'
      X-Ratelimit-Reset:
      - '1741368157'
      X-Ratelimit-Used:
      - '75'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"content":{"name":"test_file.json","path":"test_file.json","sha":"b75d367cbb8345e95198bb7e2bceddbd31991d13","size":23,"url":"https://api.github.com/repos/Benefactorum/contributions/contents/test_file.json?ref=test_branch_5","html_url":"https://github.com/Benefactorum/contributions/blob/test_branch_5/test_file.json","git_url":"https://api.github.com/repos/Benefactorum/contributions/git/blobs/b75d367cbb8345e95198bb7e2bceddbd31991d13","download_url":"https://raw.githubusercontent.com/Benefactorum/contributions/test_branch_5/test_file.json","type":"file","_links":{"self":"https://api.github.com/repos/Benefactorum/contributions/contents/test_file.json?ref=test_branch_5","git":"https://api.github.com/repos/Benefactorum/contributions/git/blobs/b75d367cbb8345e95198bb7e2bceddbd31991d13","html":"https://github.com/Benefactorum/contributions/blob/test_branch_5/test_file.json"}},"commit":{"sha":"8b5c78539cff9016a901edcda28393d5939616c4","node_id":"C_kwDOOEHVCtoAKDhiNWM3ODUzOWNmZjkwMTZhOTAxZWRjZGEyODM5M2Q1OTM5NjE2YzQ","url":"https://api.github.com/repos/Benefactorum/contributions/git/commits/8b5c78539cff9016a901edcda28393d5939616c4","html_url":"https://github.com/Benefactorum/contributions/commit/8b5c78539cff9016a901edcda28393d5939616c4","author":{"name":"benefactorum-contributions[bot]","email":"202140456+benefactorum-contributions[bot]@users.noreply.github.com","date":"2025-03-07T17:10:39Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2025-03-07T17:10:39Z"},"tree":{"sha":"4c8272cfcda30b529c91aa6f088a40b7f2bbeefc","url":"https://api.github.com/repos/Benefactorum/contributions/git/trees/4c8272cfcda30b529c91aa6f088a40b7f2bbeefc"},"message":"Test
        setup commit","parents":[{"sha":"e04a6b56a9d85bb385df887ac23458d6470e7396","url":"https://api.github.com/repos/Benefactorum/contributions/git/commits/e04a6b56a9d85bb385df887ac23458d6470e7396","html_url":"https://github.com/Benefactorum/contributions/commit/e04a6b56a9d85bb385df887ac23458d6470e7396"}],"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsFcBAABCAAQBQJnyyiPCRC1aQ7uu5UhlAAAeRUQABLg053g4KAtMNWRz+EZ1Zii\n0ibxT4hkpyvkYRpeB+pA+3mzqskIkwJksdokWXQfPBEmoEWPVELumfbD4brlGha5\ntQ5YOaEcUUAIPQftoHl4NrH13Tzn+J3Oi4IJNXOOnu0Io6ymLk/vAye4IqKHkMzZ\nPIYMUvxt8sxXBg7I0aoQuf51Z/KtZlR/uaXKGMS23pKEpOvrf944edgVgU6hARGW\n9bY0jyGJjkLlIO/WUw225NgynF4i+bzfp5q55yhK8PXFdTtbBLGcYAgK92qMoWR3\nRlBYF3eKUUHR/byOIORuhutfJUZYaW3K579B0DGfq+D2cAhqrVzOdD4mEweTbGdo\nL7u0mn9tMsoedo4ccDxiO9boNseQVoUi4tQJUQpiCAK4qou+mMTs2wTRUW3uOgxG\nApv4WwpDx8OVN5bjVy3LmqXnb2IHfpr95sEx7dJsZaJqCR3aTTDwoiMv6vTo6V4s\nFmJfn5AOkpHQh7p2wGFQikJrbt8OJkYzBu3O/4Z5Ye3MZS3XvnIY+OX6gt92CQ4d\naGGx2ilhCUzR2pGuk7yIdMpc7ED1X4VwpiZcpzrGTHsZu133z48jnCVc3+ReQ1D3\n1F4QzttGWi6ctWbfeIchjelouUzvD8ihhx67OVNOs4+ejzDMTFh41CfFU+eJT2zK\nnne3WK3kQx/HuBpapu7I\n=wNyS\n-----END
        PGP SIGNATURE-----\n","payload":"tree 4c8272cfcda30b529c91aa6f088a40b7f2bbeefc\nparent
        e04a6b56a9d85bb385df887ac23458d6470e7396\nauthor benefactorum-contributions[bot]
        <202140456+benefactorum-contributions[bot]@users.noreply.github.com> 1741367439
        +0000\ncommitter GitHub <noreply@github.com> 1741367439 +0000\n\nTest setup
        commit","verified_at":"2025-03-07T17:10:40Z"}}}'
  recorded_at: Fri, 07 Mar 2025 17:10:39 GMT
- request:
    method: post
    uri: https://api.github.com/repos/Benefactorum/contributions/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"test_branch_5","title":"Test PR","body":"Test
        PR body"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"469bafbdc51a18c717c43a87fdd631d32cb1f20be76623863367d25bc9d89ab0"'
      Location:
      - https://api.github.com/repos/Benefactorum/contributions/pulls/25
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - pull_requests=write
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4924'
      X-Ratelimit-Reset:
      - '1741368157'
      X-Ratelimit-Used:
      - '76'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/Benefactorum/contributions/pulls/25","id":2379085287,"node_id":"PR_kwDOOEHVCs6NzfXn","html_url":"https://github.com/Benefactorum/contributions/pull/25","diff_url":"https://github.com/Benefactorum/contributions/pull/25.diff","patch_url":"https://github.com/Benefactorum/contributions/pull/25.patch","issue_url":"https://api.github.com/repos/Benefactorum/contributions/issues/25","number":25,"state":"open","locked":false,"title":"Test
        PR","user":{"login":"benefactorum-contributions[bot]","id":202140456,"node_id":"BOT_kgDODAxrKA","avatar_url":"https://avatars.githubusercontent.com/in/<GITHUB_APP_ID>?v=4","gravatar_id":"","url":"https://api.github.com/users/benefactorum-contributions%5Bbot%5D","html_url":"https://github.com/apps/benefactorum-contributions","followers_url":"https://api.github.com/users/benefactorum-contributions%5Bbot%5D/followers","following_url":"https://api.github.com/users/benefactorum-contributions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/benefactorum-contributions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/benefactorum-contributions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/benefactorum-contributions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/benefactorum-contributions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/benefactorum-contributions%5Bbot%5D/repos","events_url":"https://api.github.com/users/benefactorum-contributions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/benefactorum-contributions%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"body":"Test
        PR body","created_at":"2025-03-07T17:10:41Z","updated_at":"2025-03-07T17:10:41Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/Benefactorum/contributions/pulls/25/commits","review_comments_url":"https://api.github.com/repos/Benefactorum/contributions/pulls/25/comments","review_comment_url":"https://api.github.com/repos/Benefactorum/contributions/pulls/comments{/number}","comments_url":"https://api.github.com/repos/Benefactorum/contributions/issues/25/comments","statuses_url":"https://api.github.com/repos/Benefactorum/contributions/statuses/8b5c78539cff9016a901edcda28393d5939616c4","head":{"label":"Benefactorum:test_branch_5","ref":"test_branch_5","sha":"8b5c78539cff9016a901edcda28393d5939616c4","user":{"login":"Benefactorum","id":143507729,"node_id":"O_kgDOCI3BEQ","avatar_url":"https://avatars.githubusercontent.com/u/143507729?v=4","gravatar_id":"","url":"https://api.github.com/users/Benefactorum","html_url":"https://github.com/Benefactorum","followers_url":"https://api.github.com/users/Benefactorum/followers","following_url":"https://api.github.com/users/Benefactorum/following{/other_user}","gists_url":"https://api.github.com/users/Benefactorum/gists{/gist_id}","starred_url":"https://api.github.com/users/Benefactorum/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Benefactorum/subscriptions","organizations_url":"https://api.github.com/users/Benefactorum/orgs","repos_url":"https://api.github.com/users/Benefactorum/repos","events_url":"https://api.github.com/users/Benefactorum/events{/privacy}","received_events_url":"https://api.github.com/users/Benefactorum/received_events","type":"Organization","user_view_type":"public","site_admin":false},"repo":{"id":943838474,"node_id":"R_kgDOOEHVCg","name":"contributions","full_name":"Benefactorum/contributions","private":false,"owner":{"login":"Benefactorum","id":143507729,"node_id":"O_kgDOCI3BEQ","avatar_url":"https://avatars.githubusercontent.com/u/143507729?v=4","gravatar_id":"","url":"https://api.github.com/users/Benefactorum","html_url":"https://github.com/Benefactorum","followers_url":"https://api.github.com/users/Benefactorum/followers","following_url":"https://api.github.com/users/Benefactorum/following{/other_user}","gists_url":"https://api.github.com/users/Benefactorum/gists{/gist_id}","starred_url":"https://api.github.com/users/Benefactorum/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Benefactorum/subscriptions","organizations_url":"https://api.github.com/users/Benefactorum/orgs","repos_url":"https://api.github.com/users/Benefactorum/repos","events_url":"https://api.github.com/users/Benefactorum/events{/privacy}","received_events_url":"https://api.github.com/users/Benefactorum/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/Benefactorum/contributions","description":"Repository
        leveraging Github features to handle contributions from the community","fork":false,"url":"https://api.github.com/repos/Benefactorum/contributions","forks_url":"https://api.github.com/repos/Benefactorum/contributions/forks","keys_url":"https://api.github.com/repos/Benefactorum/contributions/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Benefactorum/contributions/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Benefactorum/contributions/teams","hooks_url":"https://api.github.com/repos/Benefactorum/contributions/hooks","issue_events_url":"https://api.github.com/repos/Benefactorum/contributions/issues/events{/number}","events_url":"https://api.github.com/repos/Benefactorum/contributions/events","assignees_url":"https://api.github.com/repos/Benefactorum/contributions/assignees{/user}","branches_url":"https://api.github.com/repos/Benefactorum/contributions/branches{/branch}","tags_url":"https://api.github.com/repos/Benefactorum/contributions/tags","blobs_url":"https://api.github.com/repos/Benefactorum/contributions/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Benefactorum/contributions/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Benefactorum/contributions/git/refs{/sha}","trees_url":"https://api.github.com/repos/Benefactorum/contributions/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Benefactorum/contributions/statuses/{sha}","languages_url":"https://api.github.com/repos/Benefactorum/contributions/languages","stargazers_url":"https://api.github.com/repos/Benefactorum/contributions/stargazers","contributors_url":"https://api.github.com/repos/Benefactorum/contributions/contributors","subscribers_url":"https://api.github.com/repos/Benefactorum/contributions/subscribers","subscription_url":"https://api.github.com/repos/Benefactorum/contributions/subscription","commits_url":"https://api.github.com/repos/Benefactorum/contributions/commits{/sha}","git_commits_url":"https://api.github.com/repos/Benefactorum/contributions/git/commits{/sha}","comments_url":"https://api.github.com/repos/Benefactorum/contributions/comments{/number}","issue_comment_url":"https://api.github.com/repos/Benefactorum/contributions/issues/comments{/number}","contents_url":"https://api.github.com/repos/Benefactorum/contributions/contents/{+path}","compare_url":"https://api.github.com/repos/Benefactorum/contributions/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Benefactorum/contributions/merges","archive_url":"https://api.github.com/repos/Benefactorum/contributions/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Benefactorum/contributions/downloads","issues_url":"https://api.github.com/repos/Benefactorum/contributions/issues{/number}","pulls_url":"https://api.github.com/repos/Benefactorum/contributions/pulls{/number}","milestones_url":"https://api.github.com/repos/Benefactorum/contributions/milestones{/number}","notifications_url":"https://api.github.com/repos/Benefactorum/contributions/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Benefactorum/contributions/labels{/name}","releases_url":"https://api.github.com/repos/Benefactorum/contributions/releases{/id}","deployments_url":"https://api.github.com/repos/Benefactorum/contributions/deployments","created_at":"2025-03-06T10:53:39Z","updated_at":"2025-03-07T13:11:30Z","pushed_at":"2025-03-07T17:10:39Z","git_url":"git://github.com/Benefactorum/contributions.git","ssh_url":"git@github.com:Benefactorum/contributions.git","clone_url":"https://github.com/Benefactorum/contributions.git","svn_url":"https://github.com/Benefactorum/contributions","homepage":null,"size":20,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":true,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":18,"license":{"key":"gpl-3.0","name":"GNU
        General Public License v3.0","spdx_id":"GPL-3.0","url":"https://api.github.com/licenses/gpl-3.0","node_id":"MDc6TGljZW5zZTk="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":18,"watchers":0,"default_branch":"main"}},"base":{"label":"Benefactorum:main","ref":"main","sha":"e04a6b56a9d85bb385df887ac23458d6470e7396","user":{"login":"Benefactorum","id":143507729,"node_id":"O_kgDOCI3BEQ","avatar_url":"https://avatars.githubusercontent.com/u/143507729?v=4","gravatar_id":"","url":"https://api.github.com/users/Benefactorum","html_url":"https://github.com/Benefactorum","followers_url":"https://api.github.com/users/Benefactorum/followers","following_url":"https://api.github.com/users/Benefactorum/following{/o[...]
