<h1>Connectez-vous à Benefactorum</h1>

<p>Bonjour <%= @user.first_name %>, entrez ce code dans les 10 prochaines minutes pour vous connecter :</p>

<h2><%= @otp %></h2>

<hr>

<%# signature de Benefactorum %>
